<!DOCTYPE html>
<html>
<header>
	<meta charset="UTF-8">
	<title>Prediction the Imovel Price</title>
	<link rel="stylesheet" type="text/css" href="static/styles.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</header>

<body>

  <form action="{{ url_for("gfg")}}" method="post">

	<div class='title-page'>
		<h1>Prediction the Imovel Price</h1>
	</div>

  
	<div class='img-building'>
		<img src='/static/img_building3.png' alt='Builing image'>


	</div>



	<div class='form-IA' >

		<h2>AI test!</h2>

          <p class="teste"> 
            <label for="nome_aream">Area m²</label>
            <input onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')" id="nome_aream" name="n_aream" required="required" type="text" placeholder="70"/>
          </p>

          <p> 
            <label for="nome_rooms">Rooms</label>
            <input onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')" id="nome_rooms" name="n_rooms" required="required" type="text" placeholder="2"/>
          </p>

          <p> 
            <label for="nome_bathroom">Bathroom</label>
            <input onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')" id="nome_bathroom" name="n_bathroom" required="required" type="text" placeholder="1"/>
          </p>

          <p> 
            <label for="nome_parking">Parking spaces</label>
            <input onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')" id="nome_parking" name="n_parking" required="required" type="text" placeholder="1"/>
          </p>

          <p>
          	<label for="nome_hoa">Animal</label>
          	<select name="n_selectAnimal" class='Animal_select'>
          		<option value="1">Acept</option>
 			 	      <option value="0" selected>Not Acept</option>
          	</select>
      	</p>


          <p>
          	<label for="nome_hoa">Forniture</label>
          	<select name="n_forniture" class="Forniture_select">
          		<option value="1">Furniture</option>
 			      	<option value="0" selected>Not Forniture</option>
          	</select>
      	</p>

         <p> 
            <label for="nome_hoa">Hoa R$</label>
            <input onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')" id="nome_hoa" name="n_hoa" required="required" type="text" placeholder="2,065"/>
          </p>

          <p> 
            <label for="nome_rentamout">Rent Amout R$</label>
            <input onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')" id="nome_rentamout" name="n_rentamout" required="required" type="text" placeholder="3,300"/>
          </p>

          <p> 
            <label for="nome_popetytax">Poperty tax R$</label>
            <input onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')" id="nome_popetytax" name="n_popetytax" required="required" type="text" placeholder="211"/>
          </p>

          <p> 
            <label for="nome_fireinsurance">Fire insurance R$</label>
            <input onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')" id="nome_fireinsurance" name="n_fireinsurance" required="required" type="text" placeholder="42"/>
          </p>

          <p> 
            <label for="nome_floor">Floor</label>
            <input onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')" id="nome_floor" name="n_floor" required="required" type="text" placeholder="7"/>
          </p>



          <button type="submit">Predition</button>


          <p class='val-predition'> 
            <label for="nome_predition" >Predition R$:</label>
          </p>

      </div>



	<footer>
		<div class="footer-content">
			<h3>Machine Learning</h3>
			<p>Artificial intelligence is a great tool to solve the most diverse problems!</p>

			<ul class='socials'>
				<li><a href="#"><i class="fa fa-github"></i></a></li>
				<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
				<li><a href="#"><i class="fa fa-stack-overflow"></i></a></li>
				<li><a href="#"><i class="fa fa-youtube"></i></a></li>
			</ul>
		</div>

		<div class="footer-bottom">

		<p>Copyright &copy;2022 Auto-IA. Design By KRONUS</p>
		</div>

	</footer>
</body>
</html>